.panel.panel-default
  .panel-heading Conversation
  .list-group
    .list-group-item
      %strong Id
      = @conversation.id
    .list-group-item
      %strong Name
      = @conversation.name || "N/A"
    .list-group-item
      %strong Members
      = @conversation.member_names
    .list-group-item
      %strong Videos Sent
      = @videos.count
    - if @conversation.memberships.first.most_recent_subtitle == "ttyl"
      .list-group-item
        %span.label.label-success ttyl

%table.table.table-bordered
  %thead
    %tr
      %td Id
      %td Sender
      %td Created At
      %td Subtitle
  %tbody
    - @messages.each do |message|
      %tr
        %td= message.id
        %td= message.sender_name
        %td
          %span.date{"data-time" => (message.created_at.to_i * 1000)}= message.created_at
        %td
          %span.subtitle
            - if message.subtitle.present? and message.subtitle == "ttyl"
              Y
