.panel.panel-default
  .panel-heading Conversation
  .list-group
    .list-group-item= @conversation.id
    .list-group-item= @conversation.name || "no name"
    .list-group-item= @conversation.member_names
    .list-group-item
      = @videos.count
      = " videos"
    - if @conversation.memberships.first.subtitle == "ttyl"
        .list-group-item
          %span.label.label-default ttyl

%h1 Videos
%table.table.table-bordered
  %thead
    %tr
      %td Id
      %td Sender
      %td Filename
      %td Created At
      %td Subtitle
  %tbody
    - @videos.each do |video|
      - if video.user.blank?
        %tr
          %td blank user
      - else
        %tr
          %td= video.id
          %td= video.user.username
          %td= video.filename
          %td
            %span.date{"data-time" => (video.created_at.to_i * 1000)}= video.created_at
          %td
            %span.subtitle
              - if video.subtitle.present?
                Y
= will_paginate(@videos)

:javascript
  $(document).ready(function() {
    var datecopy = $(".date");

    datecopy.each(function(el) {
      var timeString = $(this).attr("data-time");
      var unixTimestamp = parseInt(timeString);
      var date = new Date(unixTimestamp);

      $(this).html(date.toLocaleString());
    })
  })
